<div class="home_index">
  <div class="inputted_address_search">
    <div class="container">
      <div class="inputted_address_search_form">
        <h2>PotepanShareで<br>
            まだ体験したことのない旅をしよう
        </h2>
        <!--room検索フォーム1 (検索条件 == 住所名 && 単数単語)(シンプルモード)-->
        <%= search_form_for @search, url: address_search_rooms_path do |form| %>
          <%= form.search_field :address_cont, placeholder: "住所名(単数単語)" %>
          <br>
          <%= form.submit %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="fixed_address_search">
    <div class="container">
      <h3>おすすめエリア</h3>
      <br>
      <div class="fixed_address_search_forms">
        <!--room検索フォーム1 (入力値 = "東京")の非表示フォーム-->
        <%= search_form_for @search, url: address_search_rooms_path do |form| %>
          ｢東京｣で検索
          <br>
          <!--:address_contカラムに値を渡すため､非表示フォームを作成-->
          <!--.hidden_fieldで ｢非表示フォーム｣というフォーム型を指定-->

          <!--:address_cont で params[:q](ハッシュ構造をもつ)のkey名を :address_cont と指定-->
          <!--value: "東京" で､params[:q]のvalue値を､"東京"と指定(指定がない場合は､デフォルトの"フォームの入力値"となる)-->
          <!--上2行をまとめると､params[:q] = {:address_cont => "東京"} と設計-->
          <%= form.hidden_field :address_cont, value: "東京" %>
          <!--image_submit_tagヘルパーで､app/assets/images下の画像をボタンとする送信フォームを作成-->
          <%= image_submit_tag("img_tokyo", class: 'search_icon') %>
        <% end %>

        <!--room検索フォーム1 (入力値 = "大阪")の非表示フォーム-->
        <%= search_form_for @search, url: address_search_rooms_path do |form| %>
          ｢大阪｣で検索
          <br>
          <!--params[:q] = {:address_cont => "大阪"} と設計-->
          <%= form.hidden_field :address_cont, value: "大阪" %>
          <%= image_submit_tag("img_osaka", class: 'search_icon') %>
        <% end %>


        <!--room検索フォーム1 (入力値 = "京都")の非表示フォーム-->
        <%= search_form_for @search, url: address_search_rooms_path do |form| %>
          ｢京都｣で検索
          <br>
          <!--params[:q] = {:address_cont => "京都"} と設計-->
          <%= form.hidden_field :address_cont, value: "京都" %>
          <%= image_submit_tag("img_kyoto", class: 'search_icon') %>
        <% end %>

        <!--room検索フォーム1 (入力値 = "札幌")の非表示フォーム-->
        <%= search_form_for @search, url: address_search_rooms_path do |form| %>
          ｢札幌｣で検索
          <br>
          <!--params[:q] = {:address_cont => "札幌"} と設計-->
          <%= form.hidden_field :address_cont, value: "札幌" %>
          <%= image_submit_tag("img_sapporo", class: 'search_icon') %>
        <% end %>
      </div>
    </div>
  </div>
</div>
