<h1>app/views/rooms/freeword_name_search.erb</h1>
<h2>フリーワード(ルーム名のみ)検索結果: <%= @search_rooms.count if @search_rooms.present? %>件</h2>
<% @search_rooms.each do |room| %>
  <ul>
    <li><%= image_tag room.image.variant(resize:'200x200') if room.image.attached? %></li>
    <li><%= room.name %></li>
    <li><%= room.address %></li>
    <li>¥<%= room.price %></li>
  </ul>
<% end %>
