<h3><%= current_user.name %>の登録済みルーム一覧</h3>

<table>
  <thead>
    <tr>
      <th>ルーム画像</th>
      <th>ルーム名</th>
      <th>ルーム紹介</th>
      <th>料金</th>
      <th>作成日</th>
    </tr>
  </thead>

  <tbody>
    <% @rooms.each do |room| %>
    <!--以下､Roomオブジェクトが @room ではなく､ room であることに注意-->
    <tr>
      <!-- if room.image.attached? で､画像が添付されてないときのModule::DelegationError発生を-->
      <td><%= image_tag room.image.variant(resize:'200x200') if room.image.attached? %></td>
      <td><%= link_to room.name, room_path(room.id) %></td>
      <td><%= room.introduction %></td>
      <td>¥<%= room.price %></td>
      <td><%= room.created_at %></td>
    </tr>
    <% end %>
  </tbody>
</table>
