<div class="room_show">
  <div class="room_show_img">
    <!--image_tag はrailsで画像を表示するためのimgタグを作成するヘルパーメソッド-->
    <!--@room.image(ファイル名) で 登録したルーム画像表示-->
    <!--.variant(resize:'200x200(縦✕横サイズ)') で画像サイズを200x200に指定｡variantメソッドは､gem 'mini_magick'のインストールで使用可能になった-->
    <!-- if @room(Roomオブジェクト).image.attached? で､画像が添付されてないときのModule::DelegationError発生を防ぐ-->
    <%= image_tag @room.image.variant(resize:'200x200') if @room.image.attached?%>
  </div>
  <div class="room_show_detail">
    <div class="registered_user_icon">
    <!--Userモデルで､ユーザー画像登録機能を追加した後に追記する-->
    </div>
    <div class="room_show_detail_profile">
      <p class="room_show_detail_profile_name"><%= @room.name %></p>
      <p class="room_show_detail_profile_address"><%= @room.address %></p>
    </div>
    <p class="room_show_detail_introduction"><%= @room.introduction %></p>
  </div>
</div>

<p>ーーーーーーーーーーーーーーーーーーーーーーーーーーーー</p>
<!--ルーム予約フォームを作成-->
<!--validatesエラーメッセを表示するための､local: true-->
<!--遷移先を予約確認ページ(confirm_new_reservation_path)に変更-->
<%= form_with model: @reservation, local: true, url: confirm_new_reservation_path do |form| %>
  <div class="new_reservation_form">
    <h2>ルーム予約フォーム</h2>
    <h3><%= "¥ #{@room.price} / 日" %></h3>

    <!--予約開始日入力フォームを作成 -->
    <div>
      <p><%= form.label :start_date, "開始日" %></p>
      <!--.date_field で｢カレンダー入力フォーム｣というフォーム型を指定-->
      <p><%= form.date_field :start_date %></p>
    </div>


    <!-- 予約終了日入力フォームを作成-->
    <div>
      <p><%= form.label :end_date, "終了日" %></p>
      <p><%= form.date_field :end_date %></p>
    </div>



    <!-- 予約人数入力フォームを作成-->
    <div>
      <p><%= form.label :number_of_people, "人数" %></p>
      <!--.number_field で｢数値入力ボックス｣というフォーム型を指定-->
      <p><%= form.number_field :number_of_people %></p>
    </div>

    <!--user_idカラムに値を渡すため､非表示フォームを作成-->
    <!--.hidden_fieldで ｢非表示フォーム｣というフォーム型を指定-->
    <!--現在ログインしているユーザーのid値をパラメーターのvalue値として渡す-->
    <%= form.hidden_field :user_id, value: current_user.id %>

    <!--room_idカラムに値を渡すため､非表示フォームを作成-->
    <!--今開いている詳細ページのルームのid値をパラメーターのvalue値として渡す-->
    <%= form.hidden_field :room_id, value: @room.id %>

    <div>
      <!-- .submitで｢送信ボタン｣というフォーム型を指定-->
      <!--押下後は､予約確認ページにredirect-->
      <%= form.submit "確認する"%>
    </div>
  </div>
<% end %>
