<!DOCTYPE html>
<html>
  <head>
    <title>PotepanShare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <!-- user_signed_in? はユーザーがログインしているか調べるdeviceのHelperメソッド-->
        <% if user_signed_in? %>
          <!-- current_user は現在ログインしているUserオブジェクトを返すdeviceのHelperメソッド-->
          <!-- ほとんどの ***_path は routes.rbファイル中の devise_for :users に詰め込まれている-->
          <!-- sign_out_path に関しては､devise_scope で設定してる-->
          Logged in as <strong><%= current_user.email %></strong>.
          <%= link_to 'プロフィール変更', edit_user_registration_path %>
          <%= link_to 'ログアウト', sign_out_path %>

          <!--こうすれば､RoomモデルでUserモデルの情報を引き継げるかもと思って追加してみた-->
          <%= link_to 'ルーム登録', new_room_path %>
          <%= link_to "#{current_user.name}の登録済みルーム一覧", rooms_path %>
          <%= link_to "#{current_user.name}の予約済みルーム一覧", reservations_path %>
        <% else %>
          <%= link_to 'サインイン', new_user_registration_path %>
          <%= link_to 'ログイン', new_user_session_path %>
        <% end %>
      </nav>
    </header>

    <p class="notice"><%= notice %></p>
    <%
=begin
%>
    <p class="alert"><%= alert %></p>
<%
=end
%>


    <%= yield %>
  </body>
</html>
