<!DOCTYPE html>
<html>
  <head>
    <title>PotepanShare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <%= link_to 'ホーム画面', root_path %>

        <!--room検索フォーム1 (検索条件 == 住所名 && 単数単語)-->
        <%= search_form_for @search_results, url: address_search_rooms_path do |form| %>
          <%= form.label :address_cont, '住所名(単数単語)' %>
          <!--params[:q]                     =   {:address_cont => 'フォームの入力値'} -->
          <!--paramsハッシュの:qキーのvalue値   =   :address_contキーのvalue値が'フォームの入力値' のハッシュ -->
          <%= form.search_field :address_cont %>
          <br>
          <%= form.submit %>
        <% end %>

        <!--room検索フォーム2 (検索条件 == ルーム名 && (単数単語 || 複数単語) )-->
        <%= search_form_for @search_results, url: freeword_name_search_rooms_path do |form| %>
          <%= form.label :name_cont, 'ルーム名(単数単語 or 複数単語)' %>
          <%= form.search_field :name_cont %>
          <br>
          <%= form.submit %>
        <% end %>

        <!-- user_signed_in? はユーザーがログインしているか調べるdeviceのHelperメソッド-->
        <% if user_signed_in? %>
          <!-- current_user は現在ログインしているUserオブジェクトを返すdeviceのHelperメソッド-->
          <!-- ほとんどの ***_path は routes.rbファイル中の devise_for :users に詰め込まれている-->
          <!-- sign_out_path に関しては､devise_scope で設定してる-->
          Logged in as <strong><%= current_user.email %></strong>.
          <%= link_to 'プロフィール変更', edit_user_registration_path %>
          <%= link_to 'ログアウト', sign_out_path %>

          <!--こうすれば､RoomモデルでUserモデルの情報を引き継げるかもと思って追加してみた-->
          <%= link_to 'ルーム登録', new_room_path %>
          <%= link_to "#{current_user.name}の登録済みルーム一覧", rooms_path %>
          <%= link_to "#{current_user.name}の予約済みルーム一覧", reservations_path %>
        <% else %>
          <%= link_to 'サインイン', new_user_registration_path %>
          <%= link_to 'ログイン', new_user_session_path %>
        <% end %>
      </nav>
    </header>

    <p class="notice"><%= notice %></p>
    <%
=begin
%>
    <p class="alert"><%= alert %></p>
<%
=end
%>


    <%= yield %>
  </body>
</html>
